.publications {
    .title {
        @include header;
    }
    .publication-items {
        .publication-item {
            margin-bottom: 20px;
            
            .publication-title {
                font-weight: bold;
                @include body-text;
                text-decoration: none;
                color: inherit;
            }
            // .publication-title {
            //     a {
            //         text-decoration: none;
            //         font-weight: bold;
            //         @include body-text; 
            //     }
            // }
            .authors {
                @include body-text; 
                // font-weight: bold;
                .conference {
                    float: right;
                    color: var(--fg-color-title-sm);
                    font-weight: 100;
            }
            }
        }
    }
}
